@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700,900';
@import "includes/normalize";
@import "includes/variables";
@import "includes/base";
@import "includes/base-font";
@import "includes/mixins";

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.network-name {
    font-weight: 400;
}

.navbar-brand  {
  & > img {
    display: inline-block;
  }
  & > strong {
    font-color: $black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }

}
h3 a { color: $black; }
#the-purpose {
  padding-top: 120px;
  padding-bottom: 40px;
}
#the-plan {
  padding-top: 80px;
  padding-bottom: 80px;
  background: $purple;
   .img-container {
     height: 110px;
   }
}

#projects-area {
  background: $yellow;
}

#get-started {
  background: $green;
  padding: 50px 0 80px;
  .btn-lg {
    background: $blue;
  }
}

.btn-md.btn-blue {
  background-color: $blue;
  color: white !important;
  border-radius: 20px;
  border: none;
  padding: 5px 10px!important;
  margin-top: 10px;
  display: inline-block;
  &:hover {
    background-color: $red !important;
  }
}
nav.navbar-default {
  background-color: white;
  a.navbar-brand {
    padding: 0;
    img {
      height: 50px;
    }
  }
}
nav {
  a { font-weight: 500; }
}
.tooltip > .tooltip-inner { white-space: nowrap; }
div#projects-area {
  .project-content-container {
    &:hover {
      .project-item .project-image .spiel {
        opacity: 1;
      }
    }
    .project-item {
      height: 300px;
      border-radius: 4px;
      margin-bottom: 30px;
      // border: 1px solid #e9e9e9;
      // box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      h5 { margin-top: 10px !important;}
      .project-image {
        @extend .bg-image;
        height: 180px;
        width: 100%;
        .spiel {
          .section-heading-spacer {
            border-top-color: lightgray;
          }
          width: inherit;
          height: inherit;
          padding: 20px 20px 0;
          font-weight: normal;
          font-size: 16px;
          opacity: 0;
          line-height: 1.25;
          background-color: rgba(255,255,255,0.85);
          transition: opacity 0.4s;
        }
      }
      .project-details {
        padding: 5px;
        padding-bottom: 10px;
        font-weight: normal;
        position: relative;

        .owner-image {
          @extend .bg-image;
          height: 50px;
          width: 50px;
          display: none;
          // border-radius: 50px;
          float: left;
          margin-right: 5px;
        }
        h4, h4 a { font-weight: normal; margin-bottom: 5px; }
        h5, h5 a { margin: 0; }

        a { color: $black; }
        .links-area {
          position: absolute;
          right: 5px;
          top: 10px;


          .proj-links {
            display: inline-block;
            width: 25px;
            height: 25px;
            text-align: center;

            float: left;
            margin-left: 5px;

            i {
              font-size: 24px;
              margin-top: 3px;
              color: #333333;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 720px) {
  .text-right { text-align: center; }
}
